/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
$header-font: "CardenioModern", "Helvetica", "sans-serif";
$base-font: "DINRoundOT", "Helvetica", "sans-serif";

// Local fonts (uncomment following lines)
@font-face {
  font-family: "DINRoundOT";
  src: font-url('DINRoundOT.tff') format('truetype');
  src: font-url('DINRoundOT.woff') format('woff');
  // src: font-url('DINRoundOT-Bold.tff') format('truetype');
  // src: font-url('DINRoundOT-Bold.woff') format('woff');
}
@font-face {
  font-family: "CardenioModern";
  src: font-url('Cardenio-Modern-Std.ttf') format('truetype');
  src: font-url('Cardenio-Modern-Bold.ttf') format('truetype');
}
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #D23333;

$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #e96b21;
$green: #32B796;
$gray: #000000;
$light-grey: #F3F3F3;
