.wrapper-orange {
  background-color: $orange;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  h2 {
    color: white;
    font-family: "CardenioModern", "Arial";
    font-size: 50px;
  }
  h4 {
    color: white;
    font-family: "CardenioModern", "Arial";
    font-size: 40px;
    font-weight: normal;
  }
}

.banner-title {
  padding-top: 4em;
}

.wrapper-grey {
  background-color: $light-grey;
  padding: 30px 0px;
}

.form-container {
  background: white;
  padding: 20px;
  margin-top: 10px;
  position: relative;
  box-shadow: 2px 2px 2px 0px rgba(161,161,161,1);
}

.btn-weldom-form {
  position: absolute;
  bottom: 0;
  right: 0;
  background: $orange;
  color: white;
  border-radius: 0;
  border: 0px;
  margin-top: 20px;
  padding: 10px 40px;
}

.btn-weldom-form:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
  text-decoration: none;
}

#user_address {
  height: 30px;
}

#user_motivation {
  height: 150px;
}

.form-agreement .form-group {
  margin-bottom: 0px;
}


.container-btn {
  padding-bottom: 60px;
}
