.content-container {
  background: white;
  padding: 20px;
  margin-top: 10px;
  position: relative;
  box-shadow: 2px 2px 2px 0px rgba(161,161,161,1);
  h3 {
    color: $orange;
    text-align: center;
    text-transform: none;
    font-size: 36px;
  }
}

.product-tested {
  display: flex;
  justify-content: center;
}

.steps {
  margin: 40px 0px;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-tested {
  padding: 10px 0px;
  img {
    margin: 0px 10px;
  }
}

.product-tested-content {
  h4 {
    color: $orange;
  }
}

.btn-home-review {
    padding: 5px 10px;
    background-color: #E96B25;
    color: white;
}

.btn-home-review:hover {
    background-color: #E96B25;
    color: white;
}

.menu-link {
  color: white;
  font-family: "CardenioModern", "Arial";
  font-size: 20px;
  font-weight: normal;
}

.home-banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  h2 {
    text-align: center;
  }
}
