<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Etape 3/3 : Finaliser l'inscription</h2>
      <p>Nos clients testeurs rédigeront et publieront leur avis sur nos produits. Pouvez-vous nous parler d'une de vos réalisations en quelques lignes ? Ce texte restera confidentiel, il nous donnera un aperçu de votre style rédactionnel :).</p>
      <%= simple_form_for @user, url: wizard_path do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :motivation, required: true, autofocus: true %>
        </div>
        <div class="form-actions">
          <%= f.submit "Je valide mon inscription" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
