<div class="footer-container">
  <div class="footer-top">
<ul class="inner">
<li class="item reserver"><span style="font-size: small;"><a href="https://www.weldom.fr/weldom/reserver-et-acheter">RESERVER<br>ET ACHETER EN LIGNE</a></span></li>
<li class="item paiement"><span style="font-size: small;"><a href="https://www.weldom.fr/weldom/paiement-securise">PAIEMENT SECURISE</a></span></li>
<li class="item retrait"><span style="font-size: small;"><a href="https://www.weldom.fr/weldom/retrait">RETRAIT ET RETOUR</a></span></li>
<li class="item livraison"><span style="font-size: small;"><a href="https://www.weldom.fr/weldom/livraisons">LIVRAISON</a></span></li>
</ul>
</div>    <div class="footer">
                    <div class="footer-main">
<div class="footer-main-top">
<ul class="footer-left">
<li class="left-one">
<ul>
<li class="item item1">
<div class="title">NOS MARQUES</div>
<div class="link">&gt; Découvrir</div>
<a href="https://www.weldom.fr/weldom/nos-marques/">&nbsp;</a></li>
<li class="item item1">
<div class="title">NOS MARQUES PARTENAIRES</div>
<div class="link">&gt; Découvrir</div>
<a href="https://www.weldom.fr/weldom/marques-partenaires/">&nbsp;</a></li>
<li class="item item3">
<div class="title">PROGRAMME DE FIDélité</div>
<div class="link">J’adhère</div>
<a href="https://www.weldom.fr/weldom/avantages-fidelite/">&nbsp;</a></li>
</ul>
</li>
<li class="left-two"><span class="title">produits ET services</span>
<ul class="links">
<li><a href="https://www.weldom.fr/weldom/produits-et-services/services.html">- Services</a><br> <a href="https://www.weldom.fr/weldom/">- Outillage</a><br><a href="https://www.weldom.fr/weldom/quincaillerie.html">- Quincaillerie</a><br> <a href="https://www.weldom.fr/weldom/electricite.html">- Electricité</a><br> <a href="https://www.weldom.fr/weldom/plomberie.html">- Plomberie</a></li>
<li><a href="https://www.weldom.fr/weldom/chauffage-air.html">- Chauffage - air</a><br> <a href="https://www.weldom.fr/weldom/peinture.html">- Peinture</a><br> <a href="https://www.weldom.fr/weldom/deco.html">- Déco</a><br> <a href="https://www.weldom.fr/weldom/eclairage.html">- Eclairage</a><br> <a href="https://www.weldom.fr/weldom/sanitaire.html">- Sanitaire</a></li>
<li><a href="https://www.weldom.fr/weldom/sol.html">- Sol</a><br> <a href="https://www.weldom.fr/weldom/amenagement-int.html">- Aménagement Intérieur</a><br> <a href="https://www.weldom.fr/weldom/bois.html">- Bois</a><br> <a href="https://www.weldom.fr/weldom/jardin.html">- Jardin</a><br> <a href="https://www.weldom.fr/weldom/amenagement-ext.html">- Aménagement Extérieur</a></li>
</ul>
</li>
</ul>
<div class="footer-right"><div class="footer-newsletter">
    <div class="title"><strong>Inscrivez-vous à notre newsletter</strong></div>
    <form action="" method="post" id="newsletter-validate-detail">
        <div class="content">
            <div class="subscribe">pour recevoir tous nos conseils et astuces au bon moment !</div>
            <div class="input-box">
               <input type="email" autocapitalize="off" autocorrect="off" spellcheck="false" name="email" id="newsletter" title="> Votre adresse mail" class="input-text required-entry validate-email" placeholder="> Votre adresse mail">
         <button type="submit" title="OK" class="button"><span>OK</span></button>
            </div>
        </div>
    </form>
</div>

<div class="title2">suivez-nous sur :</div>
<div class="socail-icos">
<ul>
<li><a href="http://www.facebook.com/Weldom/" target="_blank"><img alt="" src="https://www.weldom.fr/skin/frontend/rwd/fullsix/images/socail-facebook.png"></a></li>
<li><a href="https://twitter.com/weldom_fr" target="_blank"><img alt="" src="https://www.weldom.fr/skin/frontend/rwd/fullsix/images/socail-twitter.png"></a></li>
<li><a href="http://www.instagram.com/weldom_france/" target="_blank"><img alt="" src="https://www.weldom.fr/skin/frontend/rwd/fullsix/images/socail-canral.png"></a></li>
<li><a href="http://www.youtube.com/user/weldomtv" target="_blank"><img alt="" src="https://www.weldom.fr/skin/frontend/rwd/fullsix/images/socail-youtube.png"></a></li>
<li><a href="http://fr.pinterest.com/weldom/" target="_blank"><img alt="" src="https://www.weldom.fr/skin/frontend/rwd/fullsix/images/socail-pinterest.png"></a></li>
<li><a href="https://plus.google.com/+weldom" target="_blank"><img alt="" src="https://www.weldom.fr/skin/frontend/rwd/fullsix/images/socail-google.png"></a></li>
</ul>
</div>
</div>
</div>
<ul class="footer-main-bottom">
<li class="item item1"><span class="title">rappel produit</span>
<ul class="links">
<li><a href="https://www.weldom.fr/weldom/rappel-produits2">- Voir les produits</a></li>
</ul>
</li>
<li class="item item2"><span class="title">à propos</span>
<ul class="links">
<li><a href="https://www.weldom.fr/weldom/adresses-magasins">- Tous les magasins</a><br> <a href="https://www.weldom.fr/weldom/qui-sommes-nous">- Qui sommes-nous ?</a><br> <a href="http://franchise-weldom.fr/">- Franchisez-vous</a><br> <a href="https://www.weldom.fr/weldom/contactez-nous">- Contactez-nous</a></li>
<li><a href="https://www.weldom.fr/weldom/faq/">- FAQ</a><br> <a href="https://www.weldom.fr/weldom/cgv">- CGV</a><br> <a href="https://www.weldom.fr/weldom/condition-d-utilisation">- Conditions d’utilisation</a></li>
</ul>
</li>
<li class="item item3"><span class="title">service client</span>
<div class="contants-info">Une question ?<br> Contactez-nous au 03 44 77 82 60<br> <span>(prix d’un appel local)</span><br> Ouvert du lundi au vendredi de 9h00 à 17h00</div>
</li>
</ul>
</div>
    </div>
  <div class="footer-bottom">
<ul>
<li><a href="http://www.adeo.com/" target="_blank"><img alt="" src="https://www.weldom.fr/skin/frontend/rwd/fullsix/images/footerlogos/logo_adeo.png"></a></li>
<li><a href="http://www.leroymerlin.fr/" target="_blank"><img alt="" src="https://www.weldom.fr/skin/frontend/rwd/fullsix/images/footerlogos/logo_leroy_merlin.png"></a></li>
<li><a href="https://www.bricoman.fr/" target="_blank"><img alt="" src="https://www.weldom.fr/skin/frontend/rwd/fullsix/images/footerlogos/logo_bricoman.png"></a></li>
<li><a href="http://www.weldom.fr" target="_blank"><img alt="" src="https://www.weldom.fr/skin/frontend/rwd/fullsix/images/footerlogos/logo_weldom.png"></a></li>
<li><a href="http://www.zodio.fr/" target="_blank"><img alt="" src="https://www.weldom.fr/skin/frontend/rwd/fullsix/images/footerlogos/logo_zodio.png"></a></li>
<li><a href="http://www.aki.pt/" target="_blank"><img alt="" src="https://www.weldom.fr/skin/frontend/rwd/fullsix/images/footerlogos/logo_aki.png"></a></li>
<li><a href="https://www.kbane.com/" target="_blank"><img alt="" src="https://www.weldom.fr/skin/frontend/rwd/fullsix/images/footerlogos/logo_kbane.png"></a></li>
<li><a href="http://www.bricocenter.it/" target="_blank"><img alt="" src="https://www.weldom.fr/skin/frontend/rwd/fullsix/images/footerlogos/logo_brico.png"></a></li>
<li><a href="http://www.delamaison.fr/" target="_blank"><img alt="" src="https://www.weldom.fr/skin/frontend/rwd/fullsix/images/footerlogos/logo_delamaison.png"></a></li>
<li><a href="http://www.dompro.fr/" target="_blank"><img alt="" src="https://www.weldom.fr/skin/frontend/rwd/fullsix/images/footerlogos/logo_dompro.png"></a></li>
<li><a href="http://www.lightonline.fr/" target="_blank"><img alt="" src="https://www.weldom.fr/skin/frontend/rwd/fullsix/images/footerlogos/logo_lightonline.png"></a></li>
<li><a href="http://www.deco-smart.com/" target="_blank"><img alt="" src="https://www.weldom.fr/skin/frontend/rwd/fullsix/images/footerlogos/logo_deco_smart.png"></a></li>
<li><a href="http://www.decoclico.fr/" target="_blank"><img alt="" src="https://www.weldom.fr/skin/frontend/rwd/fullsix/images/footerlogos/logo_decoclico.png"></a></li>
<li><a href="https://www.quotatispro.fr/" target="_blank"><img alt="" src="https://www.weldom.fr/skin/frontend/rwd/fullsix/images/footerlogos/logo_quotatis.png"></a></li>
<li><a href="https://www.kozikaza.com/" target="_blank"><img alt="" src="https://www.weldom.fr/skin/frontend/rwd/fullsix/images/footerlogos/logo_kozikaza.png"></a></li>
<li><a href="http://www.tikamoon.com/" target="_blank"><img alt="" src="https://www.weldom.fr/skin/frontend/rwd/fullsix/images/footerlogos/logo_tika_moon.png"></a></li>
</ul>
</div>
