<div class="wrapper-orange">
  <div class="banner-title">
    <h2>DEVENEZ CLIENT TESTEUR !</h2>
    <h4>VOTRE INSCRIPTION A BIEN ÉTÉ ENREGISTRÉE</h4>
  </div>
  <%= image_tag "weldom_banner.jpg" %>
</div>
<div class="wrapper-grey padded">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content-container">
          <p>Votre inscription a bien été prise en compte.</p>
          <p>Nous vous contacterons si vous êtes sélectionnés.</p>
          <p>Si vous souhaitez relancer une inscription, <%= link_to 'cliquez ici', root_path %>.</p>
        </div>
      </div>
    </div>
  </div>
</div>
