<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <p>Votre inscription a bien ete prise en compte.</p>
        <p>Nous vous contacterons si vous etes selectionne</p>
        <p>Si vous souhaitez relancer une inscription, <%= link_to 'cliquez ici', root_path %>.</p>
    </div>
  </div>
</div>
