<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Admin dashboard</h1>
      <p><%= @users.count %> testeurs ses sont inscrits.</p>
      <p><%= link_to "Voir la liste des inscrits", admin_users_path %></p>
    </div>
  </div>
</div>
