<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Admin - Users list</h1>
      <table class="table table-hover">
        <thead>
          <th>ID</th>
          <th>Utilisateur</th>
        </thead>
        <tbody>
          <% @users.order(id: :desc).each do |user| %>
            <tr>
              <td><%= user.id %></td>
              <td><%= link_to user.first_name + ' ' + user.last_name, admin_user_path(user) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
